.bg-container {
    height: 93vh;
    /* background-image: url('../Assets/HomePAgeBg.jpg'); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46a09b;
      
  }
  
  
  .changePass{
      max-width: 700px;
      margin: 5% auto;
      padding: 20px;
      text-align: center;
      background-color: #7a9291;
      background-image: url('../Assets/forgotpass.jpg');
      /* background-image: linear-gradient(
        43deg,
        #c441d0 0%,
        #50a2c8 46%,
        #27add6 100%
      ); */
      border-bottom: 5px solid #151a116e; /* Add border to the form fields */
      border-radius: 10px;
      box-shadow: 50px 95px 120px rgba(55, 15, 75, 152);
    }
    
    .changePass p{
      color: #0e0000;
      font-size: 20px;
      text-decoration:underline;
      margin-bottom: 20px;
    }
    
    .changePass form {
      margin-top: 20px;
      
    }
    
    .changePass form label {
      display: block;
      font-size: 18px;
      margin-bottom: 0;
    }
    
    .changePass form input {
      margin: auto;
      width: 70%;
      height: 36px;
      font-size: 14px;
      padding: 6px 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .changePass form button {
      width: 90%;
      height: 36px;
      font-size: 16px;
      background-color: #2600ff;
      color: #fff;
      border: none;
      border-radius: 24px;
      cursor: pointer;
    }
    
    /* Responsive styles */
    @media screen and (max-width: 600px) {
      .changePass {
        max-width: 90%;
      }
    }
    